<!-- Neo-Brutalist Responsive Navbar -->
<div class="flex flex-col md:flex-row justify-between items-center py-4 md:py-6 px-4 md:px-8 bg-white border-4 border-black">
  <%= link_to root_path, class: "transform hover:-translate-y-1 transition-transform mb-4 md:mb-0" do %>
    <div class="text-3xl md:text-4xl font-extrabold tracking-wide bg-black text-white px-3 md:px-4 py-1 md:py-2 -rotate-2 shadow-[6px_6px_0px_rgba(0,0,0,1)] hover:shadow-[3px_3px_0px_rgba(0,0,0,1)]">
      <span class="hidden md:inline">NOLAN BORZONI</span>
      <span class="inline md:hidden">N.BORZONI</span>
    </div>
  <% end %>
  
  <div class="w-full md:w-auto">
    <ul class="flex flex-wrap justify-center md:flex-row space-x-3 md:space-x-4 lg:space-x-8 items-center">
      <%= link_to about_index_path, class: "transform transition-transform hover:-rotate-2" do %>
        <div class="text-base font-bold border-2 border-black px-3 py-1 hover:bg-black hover:text-white text-center">
          ABOUT
        </div>
      <% end %>
      
      <%= link_to work_index_path, class: "transform transition-transform hover:rotate-2" do %>
        <div class="text-base font-bold border-2 border-black px-3 py-1 hover:bg-black hover:text-white text-center">
          WORK
        </div>
      <% end %>
      
      <%= link_to articles_path, class: "transform transition-transform hover:-rotate-2" do %>
        <div class="text-base font-bold border-2 border-black px-3 py-1 hover:bg-black hover:text-white text-center">
          BLOG
        </div>
      <% end %>
      <% if admin_logged_in? %>
        <%= button_to "LOGOUT", logout_path, method: :delete, data: { turbo_method: :delete }, class: "text-base font-bold border-2 border-black px-3 py-1 hover:bg-black hover:text-white ml-3" %>
      <% end %>
    </ul>
  </div>
</div>